
<!-- When you click on a reciple title, render results here -->
<div class="detailsPage">
  <% if (details) { %>
    <div class="titleAndImage" style="text-align:center">
          <h4><%= details.title %></h4>
          <img src="<%= details.image %>" style="width:300px" alt="image">
    </div>
    <div class="details">
          <p><strong>Cuisine Type:</strong> 
            <%= details.cuisines %></p>
          <p><strong>Preparation and Cooking Time:</strong> <%= details.readyInMinutes %> minutes </p>
          <p><strong>Servings: </strong> <%= details.servings %> </p>
          <p><strong>Vegetarian? </strong> 
          <% if (details.vegetarian === false) { %>
            NO
          <% } else { %>
            YES
          <% } %> </p>

          <p><strong>Gluten Free? </strong>
            <% if (details.glutenFree === false) { %>
              NO
            <% } else { %>
              YES
            <% } %> </p>

            <p><strong>Dairy Free? </strong>
              <% if (details.dairyFree === false) { %>
                NO
              <% } else { %>
                YES
              <% } %> </p>

          <p><strong>Ingredients:</strong> 
            <% details.nutrition.ingredients.forEach(d=>{ %>
              <li><%=d.amount%> <%=d.unit%> of <%= d.name %></li>

            <% }) %> </p>
          <p><strong>Instructions:</strong> 
            <% if (details.instructions === null) { %>
              Instructions cannot be provided at this time. Please click on Complete Recipes and Details link below.
            <% } else { %> 
            <p><%- details.instructions %> </p>
            <% } %>

          <p><strong>For more information, check out this page:</strong> <a href="<%= details.sourceUrl %>">Complete Recipe and Details</a> </p>   
  <% } else { %> 
      <p>No recipe information available</p>
  <% } %>
  </div>

  <!-- this section is breaking my page-->
  <!-- display user comments on details page-->

  <hr />
  <h4>Comments</h4>
  <% if(comments.length > 0) { %> 
  <% comments.forEach(comment => { %>
  <div class="well">
    <p>
      <%= comment.user.name %> 
      <br>
      <br>
      <%= comment.content %>
    </p>
  </div>
  <% }) %> <% } else { %> <!-- if there are no comments display below-->
  <h3>No comments yet! Add some! </h3>
  <% } %>

<!-- form to add a comment-->
<div>
  <h5>Add a Comment:</h5>
  <form method="POST" action="/comments">
    <input type="hidden" name="recipeId" value="<%= details.id %>" />
    <input hidden value="<%= user.id %>" type="text" id="userId" name="userId" required />
    <label for="comment">Comment</label>
    <input type="text" id="content" name="content" required />
    <input type="submit" />
  </form>
</div>
<br />

<br>
<a href="/recipes">&larr; Back To Recipes</a>
</div>

