<!-- When you click on a reciple title, render results here -->
<div class="mainDetails">
  <% if (details) { %>
  <div class="titleAndImage" style="text-align:center">
    <h5 class="favoritesTitles"><%= details.title %></h5>
    <hr />

  </div>
  <div class="details">
    <div class="recipeDetails">
      <p class="recipeDetailsChild"><strong style="font-size:larger;text-decoration:underline">Vegetarian?</strong>
        <% if (details.vegetarian === false) { %>
        No
        <% } else { %>
        Yes
        <% } %> </p>

      <p class="recipeDetailsChild"><strong style="font-size:larger;text-decoration:underline">Gluten Free? </strong>
        <% if (details.glutenFree === false) { %>
        No
        <% } else { %>
        Yes
        <% } %> </p>

      <p class="recipeDetailsChild"><strong style="font-size:larger;text-decoration:underline">Dairy Free? </strong>
        <% if (details.dairyFree === false) { %>
        No
        <% } else { %>
        Yes
        <% } %> </p>

      <p class="recipeDetailsChild"><strong style="font-size:larger;text-decoration:underline">Preparation and Cooking
          Time:</strong> <%= details.readyInMinutes %> minutes </p>
    </div>


    <!-- NUTRITION WIDGET-->
    <pre id="spoonacular-ingredients" style="display:none">
        <% details.nutrition.ingredients.forEach(d=>{ %>
        <%=d.amount%> <%=d.unit%> of <%= d.name %>
        <% }) %> 
    </pre>
    <div id="spoonacular-nutrition-visualizer" style="text-align:left"></div>
    <script type="text/javascript">
      var spoonacularServings = 2;
    </script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="https://spoonacular.com/cdn/spoonacular-1.6.min.js"></script>

    <!-- INGREDIENT WIDGET-->
    <pre id="spoonacular-ingredients" style="display:none">
            <% details.nutrition.ingredients.forEach(d=>{ %>
              <%=d.amount%> <%=d.unit%> of <%= d.name %>
            <% }) %> 
            </pre>
    <div id="spoonacular-ingredient-visualizer"></div>
    <script type="text/javascript" class="widget">
      var spoonacularServings = `${details.servings}`;
      var spoonacularMeasure = 'us';
      var spoonacularView = 'grid';
    </script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="https://spoonacular.com/cdn/spoonacular-1.6.min.js"></script>
    <br>

    <p><strong style="font-size:larger;text-decoration:underline">Instructions:</strong>
      <% if (details.instructions === null) { %>
      Instructions cannot be provided at this time. Please click on Complete Recipes and Details link below.
      <% } else { %>
    <p><%- details.instructions %> </p>
    <% } %>

    <p><strong>For more information, check out this page:</strong> <a class="a" style="color:blue"
        href="<%= details.sourceUrl %>">Complete Recipe and Details</a> </p>
    <% } else { %>
    <p>No recipe information available</p>
    <% } %>
  </div>

  <!-- display user comments on details page-->
  <hr />
   <!-- form to add a comment-->
   <div class="addCommentForm" style="float:left;overflow: hidden; padding-left: 10px">
    <h5>Add a Comment:</h5>
    <form method="POST" action="/comments">
      <input type="hidden" name="recipeId" value="<%= details.id %>" />
      <input hidden value="<%= user.id %>" type="text" id="userId" name="userId" required />
      <label hidden for="comment">Comment</label>
      <textarea type="text" style="text-align:center" id="content" name="content" required></textarea>
      <input type="submit" />
    </form>
  </div>
  
  
    <h5>Comments</h5>
    <div class="commentsDiv">
    <% if(comments.length > 0) { %>
    <% comments.forEach(comment => { %>
    <!-- <div class="comment" style="float:right"> -->
      <div class="fullComments">
        <div class="commentSection">
          <p class="commentChild" style="font-weight: 700;">
            <%= comment.user.name.charAt(0).toUpperCase() + comment.user.name.slice(1) %>:
          </p>
          <p class="commentChild">
            <%= comment.content %>
          </p>
        </div>
        
        <p class="commentChild">
          <% let str = comment.createdAt %>
          <% str = str.toString(); %>
          <% strNew = str.slice(0, -41); %>
          <%= strNew %>
        </p>

      </div>

    <!-- </div> -->
    <% }) %> <% } else { %>
    <!-- if there are no comments display below-->
    <h5 style="color:blue">No comments yet! Add some! </h5>
    <% } %>
   
  </div>
  <br>
  <a href="/recipes">&larr; Back To Recipes</a>
</div>