
<!-- When you click on a reciple title, render results here -->
<div class="detailsPage">
  <% if (details) { %>
          <h3><%= details.title %></h3>
          <img src="<%= details.image %>" alt="image">
          <p>Summary: <%= details.summary %> </p>
          <p>Cooking Time: <%= details.cookingMinutes %> </p>
          <p>Preparation Time: <%= details.preparationMinutes %> </p>
        <br>   
  <% } else { %> 
      <div>No recipe information available</div>
  <% } %>
</div>

<br>
<a href="/recipes">&larr; Back To Recipes</a>

