
<!-- When you click on a reciple title, render results here -->
<div class="detailsPage">
  <% if (details) { %>
    <div class="titleAndImage" style="text-align:center">
          <h3><%= details.title %></h3>
          <img src="<%= details.image %>" style="width:400px" alt="image">
    </div>
    <div class="details">
          <p>Summary: <%- details.summary %> </p>
          <p>Cooking Time: <%= details.cookingMinutes %> </p>
          <p>Preparation Time: <%= details.preparationMinutes %> </p>
          <p>Ingredients: <%= details.ingredients %> </p>
          <p>Instructions: <%- details.instructions %> </p>
          <p>For more information, check out this page: <a href="<%= details.sourceUrl %>">Complete Recipe and Details</a> </p>   
  <% } else { %> 
      <p>No recipe information available</p>
  <% } %>
  </div>

  <!-- this section is breaking my page-->
  <!-- display user comments on details page-->

  <hr />
  <% if(comments.length > 0) { %> 
  <% comments.forEach(comment => { %>
  <div class="well">
    <p>
      <%= comment.user.name %> 
      <br>
      <br>
      <%= comment.content %>
    </p>
  </div>
  <% }) %> <% } else { %> <!-- if there are no comments display below-->
  <h3>No comments yet! Add some! </h3>
  <% } %>

<!-- form to add a comment-->
<div>
  <h4>Add a Comment:</h4>
  <form method="POST" action="/comments">
    <input type="hidden" name="recipeId" value="<%= details.id %>" />
    <input hidden value="<%= user.id %>" type="text" id="userId" name="userId" required />
    <label for="comment">Comment</label>
    <input type="text" id="content" name="content" required />
    <input type="submit" />
  </form>
</div>
<br />

<br>
<a href="/recipes">&larr; Back To Recipes</a>
</div>

