<div class="main">
    <div class="recipePageTitle">
        <h2>Recipes</h2>
    </div>

    <form method="GET" action="/recipes">
      <label for="searchRecipe" style="font-size:20px">Search for a Recipe</label>
      <div class="forms">
          <input id="recipeFilter" style="text-align:center;font-size:20px" type="text" name="searchRecipe">
          <input type="submit" id="searchButton"> 
        </div>
      <br>
    </form>
  <br>

    <!-- display all recipes -->
    <div class="recipePage">
        <% if (recipes) { %>
        <% recipes.forEach(function(r) { %>
            <div class="recipeContent">
                <a id="" href="/details/<%=r.id %> "> <h4><%= r.title %></h4> </a>
                <%= r.id %>
              <br>
              <img src="<%= r.image %>" alt="recipeImg">
              <form method="POST" action="/favoriterecipes">
                <input hidden type="text" name="title" id="title" value="<%= r.title %>">
                <input hidden type="text" name="image" id="image" value="<%= r.image %>">
                <button id="favoritesButton" class="btn btn-primary" id="button" type="submit">Add to Favorites</button>
              </form> 
        </div>

        <% }); %>
        <% } else { %> 
            <div>No recipe found...sorry</div>
        <% } %>
    
</div>
</div>
