<div class="recipeMain">
    <h2>Recipes</h2>
    <hr />
  
    <form method="GET" action="/recipes">
      <label for="searchRecipe" style="font-size:15px; color:black">Search for a Recipe</label>
      <div class="forms">
          <input id="recipeFilter" style="text-align:center;font-size:15px" type="text" name="searchRecipe">
          <input class="formButton" type="submit" id="searchButton"> 
      </div>
    </form>

    <!-- display all recipes -->
    <div class="recipePage">
        <% if (recipes) { %>
        <% recipes.forEach(function(r) { %>
            <div class="recipeContent">
                <a class="a" href="/details/<%=r.id %> "> <h5><%= r.title %></h5> </a>
              <br>
              <img src="<%= r.image %>" alt="recipeImg">
              <form method="POST" action="/favorites">
                <input hidden type="text" name="name" id="title" value="<%= r.title %>">
                <input hidden type="text" name="userId" value="<%= user.id %>">
                <input hidden type="text" name="recipeId" value="<%= r.id %>">
                <button id="favoritesButton" class="formButton" id="button" type="submit">Add to Favorites</button>
              </form> 
        </div>

        <% }); %>
        <% } else { %> 
            <div>No recipe found...sorry</div>
        <% } %>
    
</div>
</div>
